:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5; */
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(229, 255, 254);
  background-color: #e5fffe;
}
.header {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 70px;
  color: rgb(13, 153, 140);
  background-color: #0d998c;
  padding-top: 30px;
  font-size: 26px;
  font-weight: bold;
}
.home-header {
  text-decoration: none;
  padding-left: 20px;

  color: black;
}
.product-header {
  text-decoration: none;
  padding-left: 50px;
  color: black;
}
.home {
  text-align: center;
  color: black;
}
.products {
  text-align: center;
  color: black;
}
.link {
  margin-left: 30px;
  text-decoration: none;
  color: rgb(246, 222, 172);
}
/*
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
